body {
	background: url(../imagens/bkg.jpg) 50% 50% transparent;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
}

main {
	background-color: #FFFFFF;
	width: 100%;
	height: 500px;
}

	main #status {
		background-color: #006600;
		color: #FFFFFF;
		width: 100%;
		height: 25px;
	}
			main section form {
			margin: 0;
			padding: 0;
		}	
			main section figure img {
				height: 450px;
				margin-left: 10px;
			}

			main section form fieldset {
				border: none;
			}

				main section form fieldset label {
					color: #006600;
					font-size: 20px;
					display: block;
					width: 240px;
				}

				main section form fieldset #cadastrar,
				main section form fieldset #atualizar,
				main section form fieldset #remover,
				main section form fieldset #visualizar,
				main section form fieldset #registrar {
					margin: 5px;
					padding: 5px;
					font-size: 18px;
					background: #13992E;
					color: #FFFFFF;
				}

				main section form fieldset #cadastrar:hover,
				main section form fieldset #atualizar:hover,
				main section form fieldset #remover:hover,
				main section form fieldset #visualizar:hover,
				main section form fieldset #registrar:hover {
					background: #47DF1C;
				}

					main section form fieldset label input,
					main section form fieldset label select {
						width: 220px;
						border: 2px solid green;
						padding: 5px;
						color: #006600;
						font-size: 14px;
					}

		main section table {
			font-size: 14px;
			border-width: 1px;
			border-color: #666666;
			border-collapse: collapse;
			margin: auto;
			margin-top: 20px;
		}

			main section table th {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #006600;
				color: #fff;
			}

			main section table td {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				color: #006600;
				border-color: #666666;
				background-color: #ffffff;
				font-weight: bold;
			}

				main section table tfoot td {
					background-color: #006600;
				}