footer {
	background-color: #9BEC7E;
	width: 98%;
	height: 70px;
	padding: 15px;
}
	
	footer p {
		margin-top: 0px;
		padding-top: 20px;
		float: left;
		font-weight: bold;
		color: #006600;
	}

	footer figure{
		float: right;
		margin-top: 0px;
	} 