header {
	height: 90px;
	width: 100%;
}

	header #logo {
		margin: 10px;
		float: left;
	}

	header #logout {
		width: 15%;
		float: right;
		color: #006600;
		font-family: Tahoma;
		font-weight: bolder;
		margin-top: 10px;
		font-size: 16px;
	}

		header #logout button {
			background: #13992E;
			color: #FFFFFF;
		}

			header #logout button:hover {
				background: #47DF1C;				
			}
