body {
	background: url(../imagens/bkg.jpg) 50% 50% transparent;
	font-family: Tahoma, Verdana, Arial;
	font-weight: bold;
	color: #006600;
}

main {
	background-color: #FFFFFF;
	width: 600px;
	height: 300px;
	margin: auto;
}

	main section {

	}
		main section figure {
			margin-left: 170px;
			padding-top: 10px;
		}

		main section p {
			text-align: center;
			font-size: 14px;
			padding-bottom: 20px;
		}

			main section form label {
				font-size: 18px;
				font-weight: bold;
			}

			main section form #login {
				font-size: 18px;
				background: #13992E;
				color: #FFFFFF;
			}

				main section form #login:hover {
					background: #47DF1C;
				}

footer {
	width: 600px;
	height: 70px;
	padding: 15px;
	margin: auto;
}
	
	footer p {
		margin-top: 0px;
		padding-top: 20px;
		float: left;
		font-weight: bold;
		color: #006600;
	}

	footer figure{
		float: right;
		margin-top: 0px;
	} 