nav {
	background-color: #13992E;
	width: 250px;
	height: 500px;
	float: left;
}

	nav header {
		background-color: #006600;
		color: #FFFFFF;
		font-family: Tahoma;
		font-weight: bolder;
		width: 100%;
		height: 60px;
	}

		nav header h1 {
			margin-top: 0px;
			font-size: 20px;
			text-align: center;
			padding-top: 15px;
		}

		nav ul li {
			margin-left: -38px;
			display: inline-block;
			width: 240px;
			text-align: center;
		}

			nav ul li a {
				text-decoration: none;
				color: #FFF;
				font-size: 16px;
				font-weight: bold; 
				border: 4px solid #006600;
				display: block;
				width: 100%;
				height: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
				nav ul li a:hover {
					background-color: #47DF1C;
					border: 4px solid #13992E;
				}